.env
.history
btop.log

.local
!.local/bin
!.local/share/fonts

# Zen Browser
zen
!zen/profiles.ini
!zen/default/chrome/chromeUser.css
!zen/default/user.js

# Tmux
tmux
!tmux/tmux.conf
!tmux/plugins/.gitkeep
