// █▀▀ █▀▀ █▄░█
// █▄█ ██▄ █░▀█

hotkey-overlay {
	skip-at-startup
}

clipboard {
	disable-primary
}

// Named workspaces stay around even when empty
workspace "1"
workspace "2"
workspace "3"
workspace "4"
workspace "5"

binds {
	Mod+1 { focus-workspace "1"; }
	Mod+2 { focus-workspace "2"; }
	Mod+3 { focus-workspace "3"; }
	Mod+4 { focus-workspace "4"; }
	Mod+5 { focus-workspace "5"; }
	Mod+Ctrl+1 { move-column-to-workspace "1"; }
	Mod+Ctrl+2 { move-column-to-workspace "2"; }
	Mod+Ctrl+3 { move-column-to-workspace "3"; }
	Mod+Ctrl+4 { move-column-to-workspace "4"; }
	Mod+Ctrl+5 { move-column-to-workspace "5"; }
}
