// █ █▄░█ █▀█ █░█ ▀█▀
// █ █░▀█ █▀▀ █▄█ ░█░

input {
	focus-follows-mouse

	keyboard {
		xkb {
			layout "us"
			variant "intl"
			options "caps:escape"
		}

		numlock
	}

	mouse {
		accel-profile "flat"
	}

	touchpad {
		accel-profile "flat"
	}
}
